.frustrometer {
  position: relative;
  display:inline-block;
}

.frustrometer .thermometer {
  background: darkred;
  height: 0.75em;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 2px;
  border: 2px solid darkred;
}

.frustrometer .thermometer-title {
  text-align: left;
  display: inline-block;
  color: #333;
  margin: 0 0 0 1px;
  font-family: Verdana;
}

.frustrometer .score {
  position: absolute;
  font-weight: bold;
  right: 20px;
  font-size: 1.5em;
  bottom: 10px; 
}

.frustrometer .temp {
  float: right;
  height: 0px;
  width: 50%;
  border: 20px inset;
  margin-top:-20px;
  margin-right: -20px;
  border-bottom-color: white;
  border-left-color: darkred;
}

.frustrometer .favorite {
  display: none;
}

.frustrometer .autocorrect {
  display: none;
}
